* {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    text-align: center;
    margin: 5%;
    width: 100%;
    color: #3393A4;
}

#filter-container {
    width: 100%;
    height: 10%;
    margin: 0;
    margin-left: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.filter-pill {
    border-radius: 25px;
    padding: 8px 12px 8px 12px;
    margin: 8px;
    background-color: #DAEDF1;
    color: #3393A4;
    border: 2px solid #3393A4;
}

.filter-title {
    background-color: #3393A4;
    color: white;
}

#gallery {
    width: auto;
    height: auto;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3393a4 transparent;
}

app-card {
    flex-basis: 20%;
    flex-grow: 20%;
}

#details-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

pet-profile {
    background: white;
    border-radius: 25px;
    max-width: 80%;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    padding: 0;
}