<main class="page-container">

  <header class="profile-hero-card">

    <h1 class="profile-name">Management Dashboard</h1>

    <p class="about-text">Overview of pending tasks and animal welfare requests.</p>

  </header>

  <section class="dashboard-grid-container">

    <article class="profile-card">

      <header class="section-header start column">

        <h2>Upcoming Bookings</h2>

        <div class="line half-line"></div>

      </header>

      <ul class="list-container">

        @for (booking of bookings; track $index) {
          <li class="dashboard-item">

            <span class="material-symbols-outlined edit">calendar_today</span>

            <div class="item-text">

              <p class="main-text">{{ booking.date }} - {{ booking.time }}</p>
              <p class="sub-text">User: {{ booking.user }} | Animal: {{ booking.animal }}</p>

            </div>

          </li>
        }
      </ul>

    </article>

    <article class="profile-card">

      <header class="section-header start column">

        <h2>Pending Applications</h2>

        <div class="line half-line"></div>

      </header>

      <ul class="list-container">

        @for (app of applications; track $index) {
          <li class="dashboard-item clickable">

            <span class="material-symbols-outlined edit">description</span>

            <div class="item-text">

              <p class="main-text">{{ app.name }} ({{ app.type }})</p>
              <p class="sub-text">Animal: {{ app.animal }} | Address: {{ app.location }}</p>

            </div>

            <span class="material-symbols-outlined arrow">arrow_circle_right</span>

          </li>
        }
      </ul>

    </article>

  </section>

</main>
