<main class="page-container">
  <header class="profile-hero-card">
    <h1 class="profile-name">Personal Dashboard</h1>

    <p class="about-text">Overview of upcoming bookings and ongoing applications.</p>
  </header>

  <section class="dashboard-grid-container">
    <article class="profile-card">
      <header class="section-header start column">
        <h2>Bookings</h2>

        <div class="line half-line"></div>
      </header>

      <ul class="list-container">
        @for (booking of bookings$ | async; track booking.id) {
          <li class="dashboard-item">
            <span class="material-symbols-outlined edit">calendar_today</span>

            <div class="item-text">
              <h2 class="name-text">{{ booking.location.name }}</h2>
              <p class="main-text">{{ booking.date.slice(0, 10) }} - {{ booking.timeFrame }}</p>
              <p class="sub-text">User: {{ booking.name }} | Email: {{ booking.email }}</p>
            </div>
          </li>
        }
      </ul>
    </article>

    <article class="profile-card">
      <header class="section-header start column">
        <h2>Applications</h2>

        <div class="line half-line"></div>
      </header>

      <ul class="list-container">
        @for (app of applications$ | async; track app.id) {
          <li class="dashboard-item clickable">
            <span class="material-symbols-outlined edit">description</span>

            <div class="item-text">
              <h2 class="name-text">{{ app.pet.name }}</h2>
              <div class="type-badge">
                <span>{{ app.type }}</span>
              </div>
              <p class="sub-text">
                Registered to: {{ app.firstName + ' ' + app.lastName }} | Shelter:
                {{ app.location.name }}
              </p>
            </div>

            <span class="material-symbols-outlined arrow">arrow_circle_right</span>
          </li>
        }
      </ul>
    </article>
  </section>
</main>
