@if (user) {
  <div class="page-container">
    <div class="profile-hero-card">
      <div class="hero-info">
        <div class="info-left">
          <img src="/images/spain.png" alt="Spain Flag" class="flag-icon" /> Spain ({{
            user.postcode
          }})
        </div>

        <div class="info-right">Email: {{ user.email }}</div>
      </div>

      <div class="profile-pic-container">
        <img src="/images/cat3.png" alt="Profile Picture" />
      </div>

      <h1 class="profile-name">{{ user.firstName + ' ' + user.lastName }}</h1>
    </div>

    <div class="profile-card">
      <div class="section-header center">
        <div class="line"></div>

        <h2>About me</h2>

        <div class="line"></div>
      </div>
      @if (!user.description) {
        <p class="about-text">
          This is your "About me" section, edit it to make sure shelters and other users can get to
          know you better. A good "About me" section is a sign of transparency and can project more
          trust, which is essential in the starting stages of adopting or fostering a new pet.
        </p>
      } @else {
        <p class="about-text">
          {{ user.description }}
        </p>
      }
    </div>

    <div class="profile-card">
      <div class="section-header end column">
        <h2>My adoptions</h2>

        <div class="line half-line"></div>
      </div>

      <div class="carousel-container">
        <span class="material-symbols-outlined arrow">arrow_circle_left</span>

        <div class="animal-grid">
          @for (adopted of user.adoptedPets; track adopted.id) {
            <app-card [data]="adopted" (viewDetails)="selectedPet = $event"></app-card>
          } @empty {
            <p class="empty-section">You haven't adopted any animals yet</p>
          }
        </div>
        <span class="material-symbols-outlined arrow">arrow_circle_right</span>
      </div>
    </div>

    <div class="profile-card">
      <div class="section-header start column">
        <h2>My fosters</h2>

        <div class="line half-line"></div>
      </div>

      <div class="carousel-container">
        <span class="material-symbols-outlined arrow">arrow_circle_left</span>

        <div class="animal-grid">
          @for (adopted of user.adoptedPets; track adopted.id) {
            <app-card [data]="adopted" (viewDetails)="selectedPet = $event"></app-card>
          } @empty {
            <p class="empty-section">You haven't fostered any animals yet</p>
          }
        </div>

        <span class="material-symbols-outlined arrow">arrow_circle_right</span>
      </div>
    </div>
  </div>
}
