
header{
  background-color:#67C2D2;
  width:100%;
  height:86px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 0 40px;
  box-sizing: border-box;
}
h1{
  color:#3393A4;
  font-family: 'Italiana', serif;
}
span{
  font-family: 'Josefin Sans', sans-serif;
}
input{
  width:82%;
  border-color:transparent;
  margin-bottom:2%;
}
input:focus {
  outline: none;
}

.button-searcher{
  background-color:transparent;
  border-color:transparent;
  border-radius:100%;
  margin-left:2%;
  margin-right:2%;
  align-items: center;
  padding-top: 1%;
}

#sign-up-button{
  width:88px;
  height:30px;
  background-color:white;
  border-radius:25px;

}
#searchanimals{
  background-color:white;
  border-radius:25px;
  width:350px;
  height:35px;
  display:flex;
  align-items:center;
  gap:0;
}

#searchanimals input {
  margin-top: auto;
}

.section-header{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap: 30px;
}

header section:last-child {
  justify-content: flex-end;
}

.button-header{
  background-color:transparent;
  border-color:transparent;
  font-family: 'Josefin Sans', sans-serif;
  color:#3393A4;
  font-size:medium;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}
