
<header >

  <section class="section-header">
    <h1>ANIMAL HAVEN</h1>
    @if (router.url !== '/sign-up') {
    <form method="GET" id="searchanimals">
      <button  class="button-searcher" type="submit"><span class="material-symbols-outlined">menu</span></button>
      <input type="text" name="search_animals" placeholder="Search for a new friend" required/>
      <button  class="button-searcher" type="submit"><span class="material-symbols-outlined">search</span></button>
    </form>
    }

  </section>

  @if (router.url !== '/sign-up') {
    <section class="section-header">
    <button routerLink="" class="button-header">Home</button>
    <button routerLink="/search" class="button-header">Adopt/foster</button>
    <button class="button-header">Contact</button>
    <button routerLink="/sign-up" id="sign-up-button" class="button-header">Sign Up</button>
  </section>
  }

</header>

