main{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:800px;
}
img{
    width:100%;
    height:800px;
    margin-bottom:1%;
}
#title{
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    font-weight: bold;
    font-size:35px;
    margin-bottom:40px;
    margin-right: 10%;
}
h1{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#2B707C;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0.5%;
    margin-top:5%;
    
}
#text-index{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 10px 120px 80px 140px;
    width:100%;
    font-family: 'Josefin Sans', sans-serif;

}
u{
    color:#2B707C;
    text-decoration-thickness: 5px;
}
#adopt-button{
    background-color:white;
    color:#67C2D2;
    border-radius:25px;
    border-color:transparent;
    width:206px;
    height:50px;
    font-size:x-large;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-right: 15%;
}
#home-main-container{
    position: relative; 
    width: 100%;
    height: 600px;    
    display: flex;
    justify-content: flex-end;
}
#image-home{
    position: absolute;
    height: 100%;
    object-fit: cover;
    display: block;    
    z-index: 1;
}
#content-main-home{
    position: relative; 
    z-index: 2;        
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    margin-top:5%;
}
.h_line {
    width: 20%;
    height: 3px;
    margin-left: 40%;
    margin-bottom: 15px;
    background: #2B707C;
}