* {
    font-family: 'Josefin Sans', sans-serif;
}

#filter-container {
    width: auto;
    height: 10%;
    margin: 1%;
}

#gallery {
    width: auto;
    height: auto;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
    flex-direction: row;
}

app-card {
    flex-basis: 20%;
    flex-grow: 20%;
}

#details-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

pet-profile {
    background: white;
    border-radius: 25px;
    max-width: 80%;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    padding: 0;
}