<div class="page-container">
  <div class="login-card">
    <div class="card-left">
      <h1>WELCOME BACK</h1>

      <p class="login-text">
        <span routerLink="/sign-up">Sign up</span> if you don't have an account
      </p>

      <form [formGroup]="loginForm" (submit)="login()">
        <div class="input-login">
          <div class="input-group">
            <label>Email</label>
            <input
              formControlName="email"
              type="email"
              placeholder="example_email@gmail.com"
              pattern="^[A-Za-z0-9]+@[A-Za-z]+(\.[A-Za-z]+)+$"
              [class.is-invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
            />
            @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
              <small class="error-text">Please enter a valid email</small>
            }
          </div>

          <div class="input-group">
            <label>Password</label>
            <input formControlName="password" type="password" placeholder="*************" [class.is-invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"/>
            @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
              <small class="error-text">Password is required</small>
            }
          </div>

          <div class="final-options">
            <div class="checkbox-group">
              <label for="notifications"> Remember me</label>
              <input type="checkbox" id="notifications" />
            </div>
            <p class="forget-text">Forget password?</p>
          </div>
        </div>

        @if (errorMessage) {
          <p class="server-error">{{errorMessage}}</p>
        }

        <button type="submit" class="sign-in-button" [disabled]="isLoading">{{ isLoading ? 'SIGNING IN...' : 'SIGN IN' }}</button>
      </form>
    </div>

    <div class="card-right">
      <div class="circle-frame">
        <img [src]="'images/cat_login.png'" alt="Animal Haven" />
      </div>
    </div>
  </div>
</div>
