<div id="main-container">
  <section id="img-container">
    <img [src]="pet.profileImg" alt="" />
  </section>
  <section id="data-container">
    <h2>{{ pet.name }}</h2>
    <p>{{ pet.animalType }} | {{ pet.breed }} | {{ pet.age }} years old</p>
    <h3>Important facts</h3>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
    </ul>
    <h3>General description</h3>
    <p>
      {{ pet.description }}
    </p>
  </section>
</div>
